body {
    background-image: url(../img/sharon-mccutcheon-TMwHpCrU8D4-unsplash.jpg);
}

#question {
    width: 298px;
    height: 38px;
}

#eightBallOuter {
    width: 350px;
    height: 350px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
}

#eightBallInner {
    width: 50%;
    height: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 25% auto;
}

#number8 {
    width: 174px;
    height: 174px;
    color: #000;
    font-size: 11em;
    margin: -55px auto;
}

#answers {  
    color: #0000ff;
    font-size: 20px;
    padding: 30px;
    margin-top: 70px;
}  